<%- include('../layout/header')%>
    <section class="edit">
        <div class="lx-container-70">
            <div class="lx-row">
                <h1 class="title">Edit your profile</h1>
            </div>
            <div class="lx-row align-stretch">
                <div class="lx-column column-user-pic">
                    <div class="profile-pic bs-md">
                        <h1 class="pic-label">Profile picture</h1>
                        <div class="pic bs-md">
                            <img src="user_img/" alt="" width="4024" height="6048" loading="lazy">

                        </div>
                        <div class="pic-info">
                            <p><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;This photo will appear on
                                the
                                platform, in your contributions or where it is mentioned.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lx-column">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="fieldset">
                    <label for="user-name">Name</label>
                    <div class="input-wrapper">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <input type="text" id="user-name" name="name" value="" required>
                    </div>
                    <div id="user-name-helper" class="helper">
                        <p>Your name can appear on the platform, in your contributions or where it is mentioned.</p>
                    </div>
                </div>
                <div class="fieldset">
                    <label for="email">E-mail</label>
                    <div class="input-wrapper">
                        <span class="icon"><i class="fas fa-envelope"></i></span>
                        <input type="email" name="email" id="email" value="">
                    </div>
                </div>

                <div class="fieldset">
                    <label for="pass">Mobile</label>
                    <div class="input-wrapper">
                        <span class="icon"><i class="fas fa-phone"></i></span>
                        <input type="tel" id="pass" name="mobile" value="">
                    </div>
                </div>
                <div class="fieldset">
                    <label for="pass">Image</label>
                    <div class="input-wrapper">
                        <span class="icon"><i class="fas fa-image"></i></span>
                        <input type="hidden" name="user_id" value="">
                        <input type="file" name="image" id="file">
                    </div>
                </div>
                <% if(typeof message !=='undefined' ){ %>
                    <h6 style="color:rgb(176, 32, 32)">
                        <%=message%>
                    </h6>
                    <% } %>
                        <div class="actions">
                            <a href="" id="cancel"><i class="fas fa-ban"></i>&nbsp;&nbsp;Cancel</a>
                            <button type="reset" id="clear"><i class="fas fa-broom"></i>&nbsp;&nbsp;Clean</button>
                            <button type="submit" id="save"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>
                        </div>
            </form>
        </div>
    </section>







    <%- include('../layout/footer')%>