<%- include('../layout/header')%>


    <section class="forget-password">
        <div class="container-center">
            <center>
                <img src="https://i.imgur.com/LaimZqD.png" width="30%">
            </center>
            <h2>Don't Worry!</h2>
            <form action="" method="post">
                <% if(typeof message !=='undefined' ){ %>
                    <h6 style="color:green">
                        <%=message%>
                    </h6>
                    <% } %>
                        <h4>
                            Just provide your email<br>
                            and we can do the rest
                        </h4>
                        <formgroup>
                            <input type="text" name="email" />
                            <label for="email"><br>Email</label>
                            <span>enter your email</span>
                        </formgroup>
                        <% if(typeof usererr !=='undefined' ){ %>
                            <span style="color:red">
                                <%=usererr%>
                            </span>
                            <% } %>
                                <br>
                                <br>
                                <button id="login-btn" type="submit">Next</button>
            </form>
            <p>Did you remember? <a href="/login">Sign In</a></p>
        </div>
    </section>


    <%- include('../layout/footer')%>