<%- include('../layout/header')%>
    <section class="verify">
        <div class="verify">
            <h1>
                your email has been verify
            </h1>
            <a href="/login">Sign In</a>
        </div>
    </section>


    <%- include('../layout/header')%>